<div style="float: right;position: relative;top: 40%;margin-right: 20px ">
				<a >
				
					<input type="search" name="search" placeholder="Buscar Curso" title="Buscar Curso[alt-shift-f]" accesskey="f" id="searchInput" tabindex="1" autocomplete="off">
					<input type="hidden" value="Especial:Buscar" name="title" >
					<input type="submit" name="go" value="Ir" id="searchButton" class="searchButton">

				</a>	
			</div>

<div class="wrapper">
			<nav >
	 
				<button class="btn btn-primary" routerLink="Inicio">Volver</button>
				&nbsp;
			
			</nav>
		</div>

<div>
	las rutas de los botones estan buenas si aparece este comentario, en caso de que acceda a quienes somos
</div>

<router-outlet></router-outlet>

<footer class=" font-small blue " style="width: 100%;background-color: white;height: 100%;">
	
		<div>

			<div class="cajaDos" >
				<button routerLink="/contacto" style="width: 100%;height: 100%;background-color: lightblue" >
					<div style="margin-bottom: 5px">
						<a>Contacto</a>
					</div>
					<div>
						<img src="https://image.flaticon.com/icons/png/512/33/33962.png" style="width: 50px">
					</div>
				</button>
			</div>

			<div class="cajaDos">
				<button routerLink="/quienessomos" style="width: 100%;height: 100%;background-color: lightblue">
					<div style="margin-bottom: 5px">
						<a>Quienes Somos</a>
					</div>
					<div>
						<img src="https://image.flaticon.com/icons/png/512/36/36601.png" style="width: 50px">
					</div>

				</button>
				
			</div>
			
		</div>
  	</footer>