/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.min.css';

.top-100{

	margin-top: 500px

}

body{
	 font-family: sans-serif;
	 font-weight: 300;
	 background: #cccccc;


}
h1{
	text-align: center;
	color: #666;
	text-shadow: 0px 2px 0px #fff;

}
.nombre{
	margin-top: 30px;
	font-size: 30px;
	text-align: center;
	text-anchor: left;


}
.nombre2{

	text-align: center;
}
.wrapper{
	width: 100%;
	margin: 0 auto;
	box-shadow: 5px 5px 5px #555;
	background: #fff;
	border-radius: 0px;
	padding: 10px;
	
}

.button{
	margin-right: 50px;
	display: inline-block;
}

.caja{
	float: left;
	margin-left: 2px;
}
.cajaDos{
	width:  50%;

	height: 100px;
	float: left;
	text-align: center;
	margin-bottom: 40px;
	background-color: white;
	margin: 0 auto;
	border: 1px solid blue ;
}

