
<div class="wrapper" style="height: 100%" >
   
	<div class="nombre" >
		<hr>
		<a>Inicio</a>
		<hr>
	</div>
	<hr/>
	<div style="text-align: center;margin-top: 30px;">
		
		<img src="https://static1.squarespace.com/static/5710f42c27d4bd5a694442fa/t/5731006b1d07c0bec3daad77/1462829167283/central_apuntes.jpg?format=1500w" style="height: 200px">
	</div>
	<hr>
	<hr/>
  	<div style="margin-top: 50px;text-align: center;margin-bottom: 40px">
  		<button type="button" class="btn btn-primary button" routerLink="/invitado">Ingresar como invitado</button>

  		<button type="button" class="btn btn-primary button"routerLink="/invitado" style="background-color: orange">Ingresar con Google</button>

  	</div>
  	<hr>
 



</div>
<footer class=" font-small blue " style="width: 100%;background-color: white;height: 100%;">
	
		<div>

			<div class="cajaDos" >
				<button routerLink="/contacto" style="width: 100%;height: 100%;background-color: lightblue" >
					<div style="margin-bottom: 5px">
						<a>Contacto</a>
					</div>
					<div>
						<img src="https://image.flaticon.com/icons/png/512/33/33962.png" style="width: 50px">
					</div>
				</button>
			</div>

			<div class="cajaDos">
				<button routerLink="/quienessomos" style="width: 100%;height: 100%;background-color: lightblue">
					<div style="margin-bottom: 5px">
						<a>Quienes Somos</a>
					</div>
					<div>
						<img src="https://image.flaticon.com/icons/png/512/36/36601.png" style="width: 50px">
					</div>

				</button>
				
			</div>
			
		</div>
  	</footer>
